<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Login Form</h1>
    <form action="/login" method="post">
        <input placeholder="Url" name="url" type="text">
        <br>
        <input class="sub" type="submit">
    </form>
    <form action="/log" method="post">
        <input placeholder="Url" name="url" type="text">
        <br>
        <input class="sub" type="submit">
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Domain</th>
                <th>Word Count</th>
                <th>Web Link</th>
                <th>Media Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{domain}}</td>
                <td>{{wordcount}}</td>
                <td>{{weblink}}</td>
                <td>{{medialink}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>